<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AnalysisServices.AdomdClient.retail.amd64" version="19.10.0" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.NetAnalyzers" version="5.0.1" targetFramework="net461" developmentDependency="true" />
  <package id="Unofficial.Excel.Amo" version="11.0.2832.12" targetFramework="net461" />
</packages>