<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
	<TelemetrySinks>
		<Add Name="default">
			<TelemetryChannel Type="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.ServerTelemetryChannel, Microsoft.AI.ServerTelemetryChannel"/>
			<TelemetryProcessors>
				<Add Type="Microsoft.ApplicationInsights.Extensibility.AutocollectedMetricsExtractor, Microsoft.ApplicationInsights"/>
				<Add Type="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.AdaptiveSamplingTelemetryProcessor, Microsoft.AI.ServerTelemetryChannel">
					<MaxTelemetryItemsPerSecond>5</MaxTelemetryItemsPerSecond>
					<ExcludedTypes>Event</ExcludedTypes>
				</Add>
				<Add Type="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.AdaptiveSamplingTelemetryProcessor, Microsoft.AI.ServerTelemetryChannel">
					<MaxTelemetryItemsPerSecond>5</MaxTelemetryItemsPerSecond>
					<IncludedTypes>Event</IncludedTypes>
				</Add>
			</TelemetryProcessors>
		</Add>
	</TelemetrySinks>
</ApplicationInsights>