<?xml version="1.0" encoding="utf-8"?>
<configuration  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
<!-- tranform examples taken from https://mitasoft.wordpress.com/2011/09/28/multipleappconfig/  -->
	<appSettings>
		<add key="Mode" value="Debug" xdt:Transform="Insert"/>
		<!-- File Logging-->
    <add key="serilog:using:File" value="Serilog.Sinks.File" xdt:Transform="Insert"/>
		<add key="serilog:minimum-level" value="Verbose" xdt:Transform="Insert" />    
		<add key="serilog:write-to:File.minimumLevel" value="Verbose" xdt:Transform="Insert"/>
		<add key="serilog:write-to:File.pathFormat" value="%LOCALAPPDATA%\DaxStudio\Log\DaxStudio-debug-{Date}.txt" xdt:Transform="Insert"/>
		<add key="serilog:write-to:File.retainedFileCountLimit" value="10" xdt:Transform="Insert"/>
		
		<!-- Experimental Output Window logging -->
		<!--<add key="serilog:minimum-level" value="Information" xdt:Transform="Insert"/>    -->
    
		<add key="serilog:using" value="DaxStudio.UI" xdt:Transform="Insert"/>
		<add key="serilog:write-to:DaxStudioOutput" xdt:Transform="Insert" />
    <add key="serilog:write-to:DaxStudioOutput.minimumLevel" value="Information" xdt:Transform="Insert" />
    
	</appSettings>

</configuration>
