<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- File Logging-->
    <!--
     <add key="serilog:using:File" value="Serilog.Sinks.File" />
		<add key="serilog:minimum-level" value="Verbose" />    
		<add key="serilog:write-to:File.minimumLevel" value="Verbose" />
		<add key="serilog:write-to:File.pathFormat" value="%LOCALAPPDATA%\DaxStudio\Log\DaxStudio-{Date}.txt" />
		<add key="serilog:write-to:File.retainedFileCountLimit" value="10" />
		-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <generatePublisherEvidence enabled="false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin" />
	</assemblyBinding>
  </runtime>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" /></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
