<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="5.1.1" targetFramework="net472" />
  <package id="Microsoft.ApplicationInsights" version="2.23.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.10" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.Testing.Platform" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.TestPlatform.AdapterUtilities" version="18.0.0" targetFramework="net472" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="18.0.0" targetFramework="net472" />
  <package id="MSTest.Analyzers" version="4.0.1" targetFramework="net472" developmentDependency="true" />
  <package id="MSTest.TestAdapter" version="4.0.1" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="4.0.1" targetFramework="net472" />
  <package id="Namotion.Reflection" version="3.4.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net472" />
  <package id="NJsonSchema" version="11.4.0" targetFramework="net472" />
  <package id="NJsonSchema.Annotations" version="11.4.0" targetFramework="net472" />
  <package id="NSubstitute" version="5.3.0" targetFramework="net472" />
  <package id="OpenCli.Sources" version="0.5.0" targetFramework="net472" />
  <package id="Spectre.Console" version="0.52.0" targetFramework="net472" />
  <package id="Spectre.Console.Cli" version="0.52.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="9.0.10" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.10" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="9.0.10" targetFramework="net472" />
  <package id="System.Memory" version="4.6.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="9.0.10" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="9.0.10" targetFramework="net472" />
  <package id="System.Text.Json" version="9.0.10" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net472" />
</packages>