<?xml version="1.0" encoding="utf-8"?>
<configuration  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
<!-- tranform examples taken from https://mitasoft.wordpress.com/2011/09/28/multipleappconfig/  -->
	<appSettings>
		<add key="Mode" value="Debug" xdt:Transform="Insert"/>
		<!-- File Logging-->
    
		<add key="serilog:minimum-level" value="Debug" xdt:Transform="Insert" />    
		<add key="serilog:write-to:File.minimumLevel" value="Debug" xdt:Transform="Insert"/>
		<add key="serilog:write-to:File.pathFormat" value="%APPDATA%\DaxStudio\Log\DaxStudioExcel-debug-{Date}.txt" xdt:Transform="Insert"/>
		<add key="serilog:write-to:File.retainedFileCountLimit" value="10" xdt:Transform="Insert"/>
		
    <add key="serilog:write-to:DaxStudioOutput.minimumLevel" value="Information" xdt:Transform="Insert" />
    
	</appSettings>
	<!--
	<loggly xmlns="Loggly" applicationName="DaxStudio" customerToken="b99e0be7-5ab8-4388-9afa-43d3b3f6191f" isEnabled="true" throwExceptions="true">
		<transport logTransport="Https" endpointHostname="logs-01.loggly.com" endpointPort="443"/>
		<tags>
			<simple>
				<tag value="DaxStudio"/>
			</simple>
			<complex>
				<tag type="Loggly.HostnameTag" formatter="host-{0}"/>
				<tag type="Loggly.ApplicationNameTag" formatter="application-{0}"/>
				<tag type="Loggly.OperatingSystemVersionTag" formatter="os-{0}"/>
				<tag type="Loggly.OperatingSystemPlatformTag" formatter="platform-{0}"/>
			</complex>
		</tags>
	</loggly>
	-->
</configuration>
