<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:write-to:File.pathFormat" value="%LOCALAPPDATA%\DaxStudio\Log\DaxStudioExcel-{Date}.txt" />
    <add key="serilog:write-to:File.retainedFileCountLimit" value="10" />
  -->
  </appSettings>
  <runtime>
    <generatePublisherEvidence enabled="false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin" />
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>
