<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AnalysisServices.retail.amd64" version="18.0.9" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.4.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Owin" version="1.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.7" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.6" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.6" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.6" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.6" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.6" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.Owin" version="4.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Diagnostics" version="4.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="4.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="4.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.SelfHost" version="4.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Serilog" version="2.9.0" targetFramework="net45" />
  <package id="Serilog.Settings.AppSettings" version="2.2.2" targetFramework="net45" />
  <package id="Serilog.Sinks.EventLog" version="3.1.0" targetFramework="net45" />
  <package id="Serilog.Sinks.File" version="4.1.0" targetFramework="net45" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.2.0" targetFramework="net45" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net45" />
  <package id="Unofficial.Excel.Amo" version="11.0.2832.12" targetFramework="net45" />
</packages>