<?xml version="1.0"?>
<!--
Create your own loggly.user.config file using this file as a template.
Don't forget to update it with your own customer token 
-->
<loggly
  xmlns="Loggly"
  applicationName="LogglyExample"
  customerToken="b99e0be7-5ab8-4388-9afa-43d3b3f6191f"
  throwExceptions="true">

  <transport logTransport="Https" endpointHostname="logs-01.loggly.com" endpointPort="443"/>

  <!--<search account="your_loggly_account" username="your_loggly_username" password="myLittleP0ny!"/>-->

  <tags>
    
    <complex>
      <tag type="Loggly.HostnameTag" formatter="host-{0}"/>
      <tag type="Loggly.ApplicationNameTag" formatter="application-{0}"/>
      <tag type="Loggly.OperatingSystemVersionTag" formatter="os-{0}"/>
      <tag type="Loggly.OperatingSystemPlatformTag" formatter="platform-{0}"/>
    </complex>
  </tags>
</loggly>