<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.AvalonEdit" publicKeyToken="9cc39be672370310" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.2.9744" newVersion="4.4.2.9744" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <!--
    <defaultProxy useDefaultCredentials="true" enabled="true" >
    <proxy usesystemdefault="True" 
        proxyaddress="http://http-gw.tcif.telstra.com.au:8080"
        bypassonlocal="True"
      />
    </defaultProxy>
    -->
  </system.net>
</configuration>