# NOTE: Requires **VS2019 16.3** or later

# Rules for DaxStudio.UI
# Description: Code analysis rules for DaxStudio.UI.csproj.

# Code files
[*.{cs,vb}]


dotnet_diagnostic.AD0001.severity = none

dotnet_diagnostic.CA1000.severity = none

dotnet_diagnostic.CA1001.severity = none

dotnet_diagnostic.CA1010.severity = none

dotnet_diagnostic.CA1016.severity = none

dotnet_diagnostic.CA1018.severity = none

dotnet_diagnostic.CA1028.severity = none

dotnet_diagnostic.CA1030.severity = none

dotnet_diagnostic.CA1031.severity = none

dotnet_diagnostic.CA1032.severity = none

dotnet_diagnostic.CA1034.severity = none

dotnet_diagnostic.CA1036.severity = none

dotnet_diagnostic.CA1040.severity = none

dotnet_diagnostic.CA1041.severity = none

dotnet_diagnostic.CA1043.severity = none

dotnet_diagnostic.CA1044.severity = none

dotnet_diagnostic.CA1051.severity = none

dotnet_diagnostic.CA1052.severity = none

dotnet_diagnostic.CA1054.severity = none

dotnet_diagnostic.CA1055.severity = none

dotnet_diagnostic.CA1056.severity = none

dotnet_diagnostic.CA1058.severity = none

dotnet_diagnostic.CA1061.severity = none

dotnet_diagnostic.CA1062.severity = none

dotnet_diagnostic.CA1063.severity = none

dotnet_diagnostic.CA1064.severity = none

dotnet_diagnostic.CA1065.severity = none

dotnet_diagnostic.CA1066.severity = none

dotnet_diagnostic.CA1067.severity = none

dotnet_diagnostic.CA1068.severity = none

dotnet_diagnostic.CA1200.severity = none

dotnet_diagnostic.CA1303.severity = none

dotnet_diagnostic.CA1304.severity = none

dotnet_diagnostic.CA1305.severity = none

dotnet_diagnostic.CA1307.severity = none

dotnet_diagnostic.CA1308.severity = none

dotnet_diagnostic.CA1401.severity = none

dotnet_diagnostic.CA1507.severity = none

dotnet_diagnostic.CA1707.severity = none

dotnet_diagnostic.CA1710.severity = none

dotnet_diagnostic.CA1712.severity = none

dotnet_diagnostic.CA1714.severity = none

dotnet_diagnostic.CA1715.severity = none

dotnet_diagnostic.CA1716.severity = none

dotnet_diagnostic.CA1717.severity = none

dotnet_diagnostic.CA1720.severity = none

dotnet_diagnostic.CA1721.severity = none

dotnet_diagnostic.CA1724.severity = none

dotnet_diagnostic.CA1801.severity = none

dotnet_diagnostic.CA1802.severity = none

dotnet_diagnostic.CA1806.severity = none

dotnet_diagnostic.CA1810.severity = none

dotnet_diagnostic.CA1812.severity = none

dotnet_diagnostic.CA1814.severity = none

dotnet_diagnostic.CA1815.severity = none

dotnet_diagnostic.CA1816.severity = none

dotnet_diagnostic.CA1819.severity = none

dotnet_diagnostic.CA1820.severity = none

dotnet_diagnostic.CA1821.severity = none

dotnet_diagnostic.CA1822.severity = none

dotnet_diagnostic.CA1823.severity = none

dotnet_diagnostic.CA1824.severity = none

dotnet_diagnostic.CA1825.severity = none

dotnet_diagnostic.CA1826.severity = none

dotnet_diagnostic.CA1827.severity = none

dotnet_diagnostic.CA1828.severity = none

dotnet_diagnostic.CA1829.severity = none

dotnet_diagnostic.CA2000.severity = none

dotnet_diagnostic.CA2002.severity = none

dotnet_diagnostic.CA2007.severity = none

dotnet_diagnostic.CA2008.severity = none

dotnet_diagnostic.CA2009.severity = none

dotnet_diagnostic.CA2010.severity = none

dotnet_diagnostic.CA2100.severity = none

dotnet_diagnostic.CA2101.severity = none

dotnet_diagnostic.CA2119.severity = none

dotnet_diagnostic.CA2153.severity = none

dotnet_diagnostic.CA2200.severity = none

dotnet_diagnostic.CA2207.severity = none

dotnet_diagnostic.CA2208.severity = none

dotnet_diagnostic.CA2211.severity = none

dotnet_diagnostic.CA2213.severity = none

dotnet_diagnostic.CA2214.severity = none

dotnet_diagnostic.CA2216.severity = none

dotnet_diagnostic.CA2219.severity = none

dotnet_diagnostic.CA2225.severity = none

dotnet_diagnostic.CA2226.severity = none

dotnet_diagnostic.CA2227.severity = none

dotnet_diagnostic.CA2229.severity = none

dotnet_diagnostic.CA2231.severity = none

dotnet_diagnostic.CA2234.severity = none

dotnet_diagnostic.CA2235.severity = none

dotnet_diagnostic.CA2237.severity = none

dotnet_diagnostic.CA2241.severity = none

dotnet_diagnostic.CA2242.severity = none

dotnet_diagnostic.CA2243.severity = none

dotnet_diagnostic.CA2244.severity = none

dotnet_diagnostic.CA2245.severity = none

dotnet_diagnostic.CA2246.severity = none

dotnet_diagnostic.CA3061.severity = none

dotnet_diagnostic.CA3075.severity = none

dotnet_diagnostic.CA3076.severity = none

dotnet_diagnostic.CA3077.severity = none

dotnet_diagnostic.CA3147.severity = none

dotnet_diagnostic.CA5350.severity = none

dotnet_diagnostic.CA5351.severity = none

dotnet_diagnostic.CA5359.severity = none

dotnet_diagnostic.CA5360.severity = none

dotnet_diagnostic.CA5361.severity = none

dotnet_diagnostic.CA5363.severity = none

dotnet_diagnostic.CA5364.severity = none

dotnet_diagnostic.CA5365.severity = none

dotnet_diagnostic.CA5366.severity = none

dotnet_diagnostic.CA5368.severity = none

dotnet_diagnostic.CA5369.severity = none

dotnet_diagnostic.CA5370.severity = none

dotnet_diagnostic.CA5371.severity = none

dotnet_diagnostic.CA5372.severity = none

dotnet_diagnostic.CA5373.severity = none

dotnet_diagnostic.CA5374.severity = none

dotnet_diagnostic.CA5376.severity = none

dotnet_diagnostic.CA5377.severity = none

dotnet_diagnostic.CA5378.severity = none

dotnet_diagnostic.CA5379.severity = none

dotnet_diagnostic.CA5380.severity = none

dotnet_diagnostic.CA5381.severity = none

dotnet_diagnostic.CA5384.severity = none

dotnet_diagnostic.CA5385.severity = none

dotnet_diagnostic.CA5397.severity = none

dotnet_diagnostic.CA9999.severity = none

dotnet_diagnostic.CS0078.severity = none

dotnet_diagnostic.CS0105.severity = none

dotnet_diagnostic.CS0108.severity = none

dotnet_diagnostic.CS0109.severity = none

dotnet_diagnostic.CS0114.severity = none

dotnet_diagnostic.CS0162.severity = none

dotnet_diagnostic.CS0164.severity = none

dotnet_diagnostic.CS0168.severity = none

dotnet_diagnostic.CS0183.severity = none

dotnet_diagnostic.CS0184.severity = none

dotnet_diagnostic.CS0197.severity = none

dotnet_diagnostic.CS0219.severity = none

dotnet_diagnostic.CS0251.severity = none

dotnet_diagnostic.CS0252.severity = none

dotnet_diagnostic.CS0253.severity = none

dotnet_diagnostic.CS0278.severity = none

dotnet_diagnostic.CS0279.severity = none

dotnet_diagnostic.CS0280.severity = none

dotnet_diagnostic.CS0282.severity = none

dotnet_diagnostic.CS0419.severity = none

dotnet_diagnostic.CS0420.severity = none

dotnet_diagnostic.CS0435.severity = none

dotnet_diagnostic.CS0436.severity = none

dotnet_diagnostic.CS0437.severity = none

dotnet_diagnostic.CS0440.severity = none

dotnet_diagnostic.CS0458.severity = none

dotnet_diagnostic.CS0464.severity = none

dotnet_diagnostic.CS0465.severity = none

dotnet_diagnostic.CS0469.severity = none

dotnet_diagnostic.CS0472.severity = none

dotnet_diagnostic.CS0473.severity = none

dotnet_diagnostic.CS0612.severity = none

dotnet_diagnostic.CS0618.severity = none

dotnet_diagnostic.CS0626.severity = none

dotnet_diagnostic.CS0628.severity = none

dotnet_diagnostic.CS0642.severity = none

dotnet_diagnostic.CS0652.severity = none

dotnet_diagnostic.CS0657.severity = none

dotnet_diagnostic.CS0658.severity = none

dotnet_diagnostic.CS0659.severity = none

dotnet_diagnostic.CS0660.severity = none

dotnet_diagnostic.CS0661.severity = none

dotnet_diagnostic.CS0665.severity = none

dotnet_diagnostic.CS0672.severity = none

dotnet_diagnostic.CS0675.severity = none

dotnet_diagnostic.CS0684.severity = none

dotnet_diagnostic.CS0693.severity = none

dotnet_diagnostic.CS0728.severity = none

dotnet_diagnostic.CS0809.severity = none

dotnet_diagnostic.CS0811.severity = none

dotnet_diagnostic.CS0824.severity = none

dotnet_diagnostic.CS1030.severity = none

dotnet_diagnostic.CS1058.severity = none

dotnet_diagnostic.CS1062.severity = none

dotnet_diagnostic.CS1064.severity = none

dotnet_diagnostic.CS1066.severity = none

dotnet_diagnostic.CS1072.severity = none

dotnet_diagnostic.CS1522.severity = none

dotnet_diagnostic.CS1570.severity = none

dotnet_diagnostic.CS1571.severity = none

dotnet_diagnostic.CS1572.severity = none

dotnet_diagnostic.CS1573.severity = none

dotnet_diagnostic.CS1574.severity = none

dotnet_diagnostic.CS1580.severity = none

dotnet_diagnostic.CS1581.severity = none

dotnet_diagnostic.CS1584.severity = none

dotnet_diagnostic.CS1587.severity = none

dotnet_diagnostic.CS1589.severity = none

dotnet_diagnostic.CS1590.severity = none

dotnet_diagnostic.CS1591.severity = none

dotnet_diagnostic.CS1592.severity = none

dotnet_diagnostic.CS1616.severity = none

dotnet_diagnostic.CS1633.severity = none

dotnet_diagnostic.CS1634.severity = none

dotnet_diagnostic.CS1635.severity = none

dotnet_diagnostic.CS1645.severity = none

dotnet_diagnostic.CS1658.severity = none

dotnet_diagnostic.CS1668.severity = none

dotnet_diagnostic.CS1685.severity = none

dotnet_diagnostic.CS1687.severity = none

dotnet_diagnostic.CS1690.severity = none

dotnet_diagnostic.CS1692.severity = none

dotnet_diagnostic.CS1695.severity = none

dotnet_diagnostic.CS1696.severity = none

dotnet_diagnostic.CS1697.severity = none

dotnet_diagnostic.CS1700.severity = none

dotnet_diagnostic.CS1701.severity = none

dotnet_diagnostic.CS1702.severity = none

dotnet_diagnostic.CS1710.severity = none

dotnet_diagnostic.CS1711.severity = none

dotnet_diagnostic.CS1712.severity = none

dotnet_diagnostic.CS1717.severity = none

dotnet_diagnostic.CS1718.severity = none

dotnet_diagnostic.CS1720.severity = none

dotnet_diagnostic.CS1723.severity = none

dotnet_diagnostic.CS1734.severity = none

dotnet_diagnostic.CS1735.severity = none

dotnet_diagnostic.CS1762.severity = none

dotnet_diagnostic.CS1927.severity = none

dotnet_diagnostic.CS1956.severity = none

dotnet_diagnostic.CS1957.severity = none

dotnet_diagnostic.CS1974.severity = none

dotnet_diagnostic.CS1981.severity = none

dotnet_diagnostic.CS1998.severity = none

dotnet_diagnostic.CS2002.severity = none

dotnet_diagnostic.CS2008.severity = none

dotnet_diagnostic.CS2023.severity = none

dotnet_diagnostic.CS2029.severity = none

dotnet_diagnostic.CS2038.severity = none

dotnet_diagnostic.CS3000.severity = none

dotnet_diagnostic.CS3001.severity = none

dotnet_diagnostic.CS3002.severity = none

dotnet_diagnostic.CS3003.severity = none

dotnet_diagnostic.CS3005.severity = none

dotnet_diagnostic.CS3006.severity = none

dotnet_diagnostic.CS3007.severity = none

dotnet_diagnostic.CS3008.severity = none

dotnet_diagnostic.CS3009.severity = none

dotnet_diagnostic.CS3010.severity = none

dotnet_diagnostic.CS3011.severity = none

dotnet_diagnostic.CS3012.severity = none

dotnet_diagnostic.CS3013.severity = none

dotnet_diagnostic.CS3014.severity = none

dotnet_diagnostic.CS3015.severity = none

dotnet_diagnostic.CS3016.severity = none

dotnet_diagnostic.CS3017.severity = none

dotnet_diagnostic.CS3018.severity = none

dotnet_diagnostic.CS3019.severity = none

dotnet_diagnostic.CS3021.severity = none

dotnet_diagnostic.CS3022.severity = none

dotnet_diagnostic.CS3023.severity = none

dotnet_diagnostic.CS3024.severity = none

dotnet_diagnostic.CS3026.severity = none

dotnet_diagnostic.CS3027.severity = none

dotnet_diagnostic.CS4014.severity = none

dotnet_diagnostic.CS4024.severity = none

dotnet_diagnostic.CS4025.severity = none

dotnet_diagnostic.CS4026.severity = none

dotnet_diagnostic.CS7033.severity = none

dotnet_diagnostic.CS7035.severity = none

dotnet_diagnostic.CS7080.severity = none

dotnet_diagnostic.CS7081.severity = none

dotnet_diagnostic.CS7082.severity = none

dotnet_diagnostic.CS7090.severity = none

dotnet_diagnostic.CS7095.severity = none

dotnet_diagnostic.CS8001.severity = none

dotnet_diagnostic.CS8002.severity = none

dotnet_diagnostic.CS8009.severity = none

dotnet_diagnostic.CS8012.severity = none

dotnet_diagnostic.CS8018.severity = none

dotnet_diagnostic.CS8019.severity = none

dotnet_diagnostic.CS8020.severity = none

dotnet_diagnostic.CS8021.severity = none

dotnet_diagnostic.CS8029.severity = none

dotnet_diagnostic.CS8032.severity = none

dotnet_diagnostic.CS8033.severity = none

dotnet_diagnostic.CS8034.severity = none

dotnet_diagnostic.CS8040.severity = none

dotnet_diagnostic.CS8073.severity = none

dotnet_diagnostic.CS8094.severity = none

dotnet_diagnostic.CS8105.severity = none

dotnet_diagnostic.CS8123.severity = none

dotnet_diagnostic.CS8305.severity = none

dotnet_diagnostic.CS8321.severity = none

dotnet_diagnostic.CS8359.severity = none

dotnet_diagnostic.CS8360.severity = none

dotnet_diagnostic.CS8371.severity = none

dotnet_diagnostic.CS8383.severity = none

dotnet_diagnostic.CS8387.severity = none

dotnet_diagnostic.CS8424.severity = none

dotnet_diagnostic.CS8425.severity = none

dotnet_diagnostic.CS8509.severity = none

dotnet_diagnostic.CS8512.severity = none

dotnet_diagnostic.CS8513.severity = none

dotnet_diagnostic.CS8519.severity = none

dotnet_diagnostic.CS8520.severity = none

dotnet_diagnostic.CS8597.severity = none

dotnet_diagnostic.CS8600.severity = none

dotnet_diagnostic.CS8601.severity = none

dotnet_diagnostic.CS8602.severity = none

dotnet_diagnostic.CS8603.severity = none

dotnet_diagnostic.CS8604.severity = none

dotnet_diagnostic.CS8605.severity = none

dotnet_diagnostic.CS8606.severity = none

dotnet_diagnostic.CS8607.severity = none

dotnet_diagnostic.CS8608.severity = none

dotnet_diagnostic.CS8609.severity = none

dotnet_diagnostic.CS8610.severity = none

dotnet_diagnostic.CS8611.severity = none

dotnet_diagnostic.CS8612.severity = none

dotnet_diagnostic.CS8613.severity = none

dotnet_diagnostic.CS8614.severity = none

dotnet_diagnostic.CS8615.severity = none

dotnet_diagnostic.CS8616.severity = none

dotnet_diagnostic.CS8617.severity = none

dotnet_diagnostic.CS8618.severity = none

dotnet_diagnostic.CS8619.severity = none

dotnet_diagnostic.CS8620.severity = none

dotnet_diagnostic.CS8621.severity = none

dotnet_diagnostic.CS8622.severity = none

dotnet_diagnostic.CS8624.severity = none

dotnet_diagnostic.CS8625.severity = none

dotnet_diagnostic.CS8626.severity = none

dotnet_diagnostic.CS8629.severity = none

dotnet_diagnostic.CS8631.severity = none

dotnet_diagnostic.CS8632.severity = none

dotnet_diagnostic.CS8633.severity = none

dotnet_diagnostic.CS8634.severity = none

dotnet_diagnostic.CS8638.severity = none

dotnet_diagnostic.CS8643.severity = none

dotnet_diagnostic.CS8644.severity = none

dotnet_diagnostic.CS8645.severity = none

dotnet_diagnostic.CS8653.severity = none

dotnet_diagnostic.CS8654.severity = none

dotnet_diagnostic.CS8655.severity = none

dotnet_diagnostic.CS8656.severity = none

dotnet_diagnostic.CS8667.severity = none

dotnet_diagnostic.CS8714.severity = none

dotnet_diagnostic.IDE0001.severity = none

dotnet_diagnostic.IDE0002.severity = none

dotnet_diagnostic.IDE0003.severity = none

dotnet_diagnostic.IDE0003WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0004.severity = none

dotnet_diagnostic.IDE0004WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0005.severity = none

dotnet_diagnostic.IDE0007.severity = none

dotnet_diagnostic.IDE0007WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0008.severity = none

dotnet_diagnostic.IDE0008WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0009.severity = none

dotnet_diagnostic.IDE0009WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0010.severity = none

dotnet_diagnostic.IDE0010WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0011.severity = none

dotnet_diagnostic.IDE0011WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0016.severity = none

dotnet_diagnostic.IDE0016WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0017.severity = none

dotnet_diagnostic.IDE0017WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0018.severity = none

dotnet_diagnostic.IDE0018WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0019.severity = none

dotnet_diagnostic.IDE0019WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0020.severity = none

dotnet_diagnostic.IDE0020WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0021.severity = none

dotnet_diagnostic.IDE0022.severity = none

dotnet_diagnostic.IDE0023.severity = none

dotnet_diagnostic.IDE0024.severity = none

dotnet_diagnostic.IDE0025.severity = none

dotnet_diagnostic.IDE0026.severity = none

dotnet_diagnostic.IDE0027.severity = none

dotnet_diagnostic.IDE0028.severity = none

dotnet_diagnostic.IDE0028WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0029.severity = none

dotnet_diagnostic.IDE0029WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0030.severity = none

dotnet_diagnostic.IDE0030WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0031.severity = none

dotnet_diagnostic.IDE0031WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0032.severity = none

dotnet_diagnostic.IDE0032WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0033.severity = none

dotnet_diagnostic.IDE0033WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0034.severity = none

dotnet_diagnostic.IDE0034WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0035.severity = none

dotnet_diagnostic.IDE0035WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0036.severity = none

dotnet_diagnostic.IDE0036WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0037.severity = none

dotnet_diagnostic.IDE0037WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0039.severity = none

dotnet_diagnostic.IDE0039WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0040.severity = none

dotnet_diagnostic.IDE0040WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0041.severity = none

dotnet_diagnostic.IDE0041WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0042.severity = none

dotnet_diagnostic.IDE0042WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0043.severity = none

dotnet_diagnostic.IDE0044.severity = none

dotnet_diagnostic.IDE0044WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0045.severity = none

dotnet_diagnostic.IDE0045WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0046.severity = none

dotnet_diagnostic.IDE0046WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0047.severity = none

dotnet_diagnostic.IDE0048.severity = none

dotnet_diagnostic.IDE0048WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0049.severity = none

dotnet_diagnostic.IDE0049WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0050.severity = none

dotnet_diagnostic.IDE0050WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0051.severity = none

dotnet_diagnostic.IDE0052.severity = none

dotnet_diagnostic.IDE0053.severity = none

dotnet_diagnostic.IDE0053WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0054.severity = none

dotnet_diagnostic.IDE0054WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0055.severity = none

dotnet_diagnostic.IDE0055WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0056.severity = none

dotnet_diagnostic.IDE0056WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0057.severity = none

dotnet_diagnostic.IDE0057WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0058.severity = none

dotnet_diagnostic.IDE0059.severity = none

dotnet_diagnostic.IDE0060.severity = none

dotnet_diagnostic.IDE0061.severity = none

dotnet_diagnostic.IDE0062.severity = none

dotnet_diagnostic.IDE0062WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0063.severity = none

dotnet_diagnostic.IDE0063WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0064.severity = none

dotnet_diagnostic.IDE0065.severity = none

dotnet_diagnostic.IDE0066.severity = none

dotnet_diagnostic.IDE0066WithoutSuggestion.severity = none

dotnet_diagnostic.IDE0067.severity = none

dotnet_diagnostic.IDE0068.severity = none

dotnet_diagnostic.IDE0069.severity = none

dotnet_diagnostic.IDE1005.severity = none

dotnet_diagnostic.IDE1005WithoutSuggestion.severity = none

dotnet_diagnostic.IDE1006.severity = none

dotnet_diagnostic.IDE1006WithoutSuggestion.severity = none

dotnet_diagnostic.RE0001.severity = none

dotnet_diagnostic.RE0001WithoutSuggestion.severity = none
