<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.4" targetFramework="net45" />
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net45" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net45" />
  <package id="ControlzEx" version="4.0.0-alpha0189" targetFramework="net45" />
  <package id="CsvHelper" version="12.1.2" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="3.3.0" targetFramework="net45" />
  <package id="Fluent.Ribbon" version="7.0.0-alpha0456" targetFramework="net45" />
  <package id="gong-wpf-dragdrop" version="2.0.1" targetFramework="net45" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net45" />
  <package id="Microsoft.AnalysisServices.retail.amd64" version="16.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="Serilog" version="2.8.0" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
  <package id="Xceed.Wpf.Controls" version="5.7.15466.10150" targetFramework="net45" />
  <package id="Xceed.Wpf.Themes" version="3.1.16356.12170" targetFramework="net45" />
  <package id="Xceed.Wpf.Themes.Metro" version="3.1.16356.12170" targetFramework="net45" />
  <package id="Xceed.Wpf.Themes.Office2007" version="3.1.16356.12170" targetFramework="net45" />
  <package id="Xceed.Wpf.Themes.Windows10" version="3.1.16356.12170" targetFramework="net45" />
  <package id="Xceed.Wpf.Toolkit" version="3.1.16356.12170" targetFramework="net45" />
</packages>