[*.cs]

dotnet_diagnostic.IDE0044.severity = none

dotnet_analyzer_diagnostic.category-Naming.severity = none
dotnet_analyzer_diagnostic.category-Style.severity = none

# Default severity for all the categories (including forma)
dotnet_analyzer_diagnostic.severity = none
