<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
  <system.net>
    <!--
    <defaultProxy useDefaultCredentials="true" enabled="true" >
    <proxy usesystemdefault="True" 
        proxyaddress="http://http-gw.tcif.telstra.com.au:8080"
        bypassonlocal="True"
      />
    </defaultProxy>
    -->
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" /></startup></configuration>
